
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* ==========================================================================
   Colores
========================================================================== */

:root {
    --color-azul: #00669F;
    --color-verde-agua: #1CD1B0;
    --color-azul-oscuro: #001D2D;
    --color-gris: #888888;
}

/* ==========================================================================
   Encabezado
========================================================================== */

header h1 {
    height: 80px;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 30px;
    background-color: var(--color-azul);
}

header h3 {
    background-color: var(--color-verde-agua);
    padding-left: 10px;
    height: 25px;
}

header h1 img{
    width: 70px;
}

.gracias h2{
    font-family: Inter, sans-serif;
    font-size: 80px;
    text-align: center;
}

/* ==========================================================================
   Barra de navegación
========================================================================== */

header .navegacion{
    background-color: var(--color-azul-oscuro);
    height: 40px;
    padding-top: 10px;
}

header .navegacion a{
    padding-right: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

main {
    height: calc(100vh - 205px);
}

/* ==========================================================================
   Pie
========================================================================== */

footer {
    height: 60px;
    width: 100%;
    background-color: var(--color-azul);
    color: #FFF9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}
