
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
}

/* ==========================================================================
   Colores
========================================================================== */

:root {
    --color-azul: #00669F;
    --color-verde-agua: #1CD1B0;
    --color-azul-oscuro: #001D2D;
    --color-gris: #888888;
}

/* ==========================================================================
   Encabezado
========================================================================== */

header h1 {
    height: 80px;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 30px;
    background-color: var(--color-azul);
}

header h3 {
    background-color: var(--color-verde-agua);
    padding-left: 10px;
}

header h1 img{
    width: 70px;
}

.gracias h2{
    font-family: Inter, sans-serif;
    font-size: 80px;
    margin: 20vh 0;
    text-align: center;
}

/* ==========================================================================
   Pie
========================================================================== */

footer {
    height: 60px;
    width: 100vw;
    background-color: var(--color-azul);
    color: #FFF9F9;
    text-align: center;
    padding-top: 21px;
    position: absolute;
    bottom: 0
}

/* ==========================================================================
   Formularios
========================================================================== */

form {
    margin: 0 35vw;
    width: 30vw;
}

form h2{
    font-family: Inter, sans-serif;
    font-size: 70px;
    margin: 1.5vh 0;
}

form input{
    height: 6vh;
    width: 100%;
    color: #000000;
    font-family: Karla;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

form .boton{
    height: 6vh;
    font-family: Karla;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 23px;
}

form .link {
    text-align: center;
}

form a {
    text-decoration: none;
    color: var(--color-azul)
}

form a span {
    color: black;
}

form input.boton[type='reset']{
    color: white;
    background-color: var(--color-gris);
}

form input.boton[type='submit']{
    background-color: var(--color-verde-agua);
}