/* ==========================================================================
   Botón agregar super
========================================================================== */

.index .boton {
    color: white;
    background-color: var(--color-azul);
    font-size: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

main.index{
    height: calc(100vh - 205px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ==========================================================================
   Supers
========================================================================== */