/* ==========================================================================
   Botones
========================================================================== */

form.registro .boton{
    display: inline;
    width: 45%;
    margin-left: 2.5%;
}

/* ==========================================================================
   País
========================================================================== */

form.registro select{
    height: 6vh;
    width: 100%;
    font-family: Karla;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}